/ModificacionCaracteres/nbproject/private/
/ModificacionCaracteres/build/
/JavaApplication32/nbproject/private/
/JavaApplication32/build/
/OperacionesConFunciones/nbproject/private/
/OperacionesConFunciones/build/